.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    .navbar-brand {
        flex-direction: column;
        align-items: center;
        min-height: auto;
        font-size: 40px;
    }
}
app-search-bar {
    float: right;
}